<a href="https://colab.research.google.com/github/cmason30/DID-organizer/blob/master/pandaspractice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [0]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [0]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [0]:
inside

[1, 2, 3, 1, 2, 3]

In [15]:
df = pd.DataFrame(randn(6,2), hier_index,['A', 'B'])
df

             A         B
G1 1 -0.055124  0.785836
   2 -0.281437 -0.765340
   3 -0.952303  1.125136
G2 1 -0.050486 -0.500463
   2 -0.101957 -0.663408
   3 -0.170934  0.829197

In [16]:
df.loc['G1'].loc[1]

A   -0.055124
B    0.785836
Name: 1, dtype: float64

In [20]:
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1   -0.055124  0.785836
       2   -0.281437 -0.765340
       3   -0.952303  1.125136
G2     1   -0.050486 -0.500463
       2   -0.101957 -0.663408
       3   -0.170934  0.829197

In [0]:

df.loc['G1'].loc[3]['A']

In [26]:
df.xs(1, level='Num')
# Allow us to grab values between groups. Ex - Grabs all 1 rows in the 'Num" section

               A         B
Groups
G1     -0.055124  0.785836
G2     -0.050486 -0.500463